<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Homework #05
        {% endblock %}
    </title>
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    >
    <style>
        h1{
            margin: 10px;
        }
        h2{
            margin: 10px;
        }
        p{
            margin: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('.index')}}">Homework#05 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for endpoint, title in [
                    ('about', 'Description')
                ] %}
                    {% set path = url_for(endpoint) %}
                    {% set is_current_path = path == request.path %}
                    <li class="nav-item">
                        <a
                                class="nav-link {{ 'active' if is_current_path }}"
                                aria-current="page"
                                href="{{ path }}"
                        >{{ title }}
                        </a>
                    </li>
                {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% block body %}
{% endblock %}
{% block footer %}
{% endblock %}
<script
        src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
>

</script>
</body>
</html>